<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla :: head">
        <title>Food Paradise</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body style="background-image: url(https://img.freepik.com/foto-gratis/hamburguesa-explosiva-verduras-queso-derretido-sobre-fondo-negro-ia-generativa_157027-1734.jpg?w=1060&t=st=1682389875~exp=1682390475~hmac=a452746638c3a68eb4ac3766468b2d35b4f598e4a1c751c1b01e8eecb7f7445e) ;  height: 100%;">

        <header th:replace="layout/plantilla :: header"/>
        
        <div class="contenido, text-center" > </br>

            <h2 class="text-white">[[#{cliente.lista}]]</h2>

            <div class="container">
                <div class="row">
                    <div class="col-3">

                    </div>
                    <div class="col-6"> 


                        <div th:if="${clientes != null and !clientes.empty}">
                            </br>
                            </br>
                            </br>
                            </br>
                            <table border="1">

                                <table class="text-white table table-bondered">

                                    <thead>
                                        <tr>
                                            <th>[[#{cliente.nombre}]]</th>
                                            <th>[[#{cliente.apellidos}]]</th>
                                            <th>[[#{cliente.correo}]]</th>
                                            <th>[[#{cliente.telefono}]]</th>           
                                            <th colspan="2">[[#{plantilla.acciones}]]</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="item : ${clientes}">

                                            <td th:text="${item.nombre}"></td>
                                            <td th:text="${item.apellidos}"></td>
                                            <td th:text="${item.correo}"></td>
                                            <td th:text="${item.telefono}"></td>


                                            <td><a  class="btn btn-light" th:href="@{/cliente/modificar/}+${item.idCliente}">[[#{plantilla.modificar}]]</a></td>
                                            <td><a  class="btn btn-dark" th:href="@{/cliente/eliminar/}+${item.idCliente}">[[#{plantilla.eliminar}]]</a></td>

                                        </tr>


                                    </tbody>


                                </table>
                                <div class="d-grid gap-2 col-6 mx-auto">
                                    <a class="btn btn-primary" th:href="@{/cliente/nuevo}">[[#{plantilla.nuevo}]]</a>

                                </div>

                                <div class="col-3">

                                </div>

                                <div th:if="${clientes== null or clientes.empty}">

                                    La lista esta vacia...

                                </div>



                        </div>

                    </div>
                </div>
            </div>


            <footer  th:replace="layout/plantilla 
                     :: footer"/> 
    </body>
</html>
