<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Food Paradise</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        <header th:replace="layout/plantilla :: header"/>
        <div class="contenido, text-center" > </br>

            <h2>LISTA DE CLIENTES</h2>

            <div class="container">
                <div class="row">
                    <div class="col-3">

                    </div>
                    <div class="col-6"> 


                        <div th:if="${clientes != null and !clientes.empty}">
                            </br>
                            </br>
                            </br>
                            </br>
                            <table border="1">

                                <table class="table table-bondered">

                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Apellidos</th>
                                            <th>Correo</th>
                                            <th>Telefono</th>           
                                            <th colspan="2">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="item : ${clientes}">

                                            <td th:text="${item.nombre}"></td>
                                            <td th:text="${item.apellidos}"></td>
                                            <td th:text="${item.correo}"></td>
                                            <td th:text="${item.telefono}"></td>


                                            <td><a class="btn btn-light" th:href="@{/cliente/modificar/}+${item.idCliente}">Modificar</a></td>
                                            <td><a class="btn btn-dark" th:href="@{/cliente/eliminar/}+${item.idCliente}">Eliminar</a></td>

                                        </tr>


                                    </tbody>


                                </table>
                                <div class="d-grid gap-2 col-6 mx-auto">
                                    <a class="btn btn-primary" th:href="@{/cliente/nuevo}">Nuevo cliente</a>

                                </div>

                                <div class="col-3">

                                </div>

                                <div th:if="${clientes== null or clientes.empty}">

                                    La lista esta vacia...

                                </div>



                        </div>

                    </div>
                </div>
            </div>


            <footer  th:replace="layout/plantilla 
                     :: footer"/> 
    </body>
</html>
