<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Food Paradise</title>
        <meta charset="UTF-8">
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body style="background-image: url(https://img.freepik.com/foto-gratis/hamburguesa-explosiva-verduras-queso-derretido-sobre-fondo-negro-ia-generativa_157027-1734.jpg?w=1060&t=st=1682389875~exp=1682390475~hmac=a452746638c3a68eb4ac3766468b2d35b4f598e4a1c751c1b01e8eecb7f7445e) ;  height: 100%;">
        <header th:replace="layout/plantilla :: header"/>

        <a th:href="@{/cliente/listado}" class="link-warning">Regresar</a>

        <div class="contenido, text-center">
            </br>
            <div class="container">
                <div class="row">
                    <div class="col-3">

                    </div>
                    <div class="col-6 text-white"> 
                        <h2 class="">[[#{cliente.datos}]]</h2>

                        <br />
                        <br />

                        <form th:action="@{/cliente/guardar}"
                              method="POST"
                              th:object="${cliente}" >

                            <input type="hidden"name="idCliente" th:field="*{idCliente}" />

                            <div class="form-group">
                                <label for="nombre">[[#{cliente.nombre}]]</label> <br/>
                                <input type="text"class="form-control" id="nombre" name="nombre" th:field="*{nombre}"
                                       placeholder="Ingrese el nombre del cliente">
                            </div>

                            <div class="form-group">
                                <label for="apellidos">[[#{cliente.apellidos}]]</label> <br/>
                                <input type="text" class="form-control" id="apellidos" name="apellidos" th:field="*{apellidos}"
                                       placeholder="Apellidos">
                            </div>

                            <div class="form-group">
                                <label for="telefono">[[#{cliente.telefono}]]</label><br/>
                                <input type="text" class="form-control" id="correo" name="apellidos" th:field="*{telefono}"
                                       placeholder="Teléfono">
                            </div>

                            <div class="form-group">
                                <label for="correo">[[#{cliente.correo}]]</label><br/>
                                <input type="email" class="form-control" id="correo" name="correo" th:field="*{correo}"
                                       placeholder="Correo">
                            </div>

                            <div class="form-group">
                                <label for="contraseña">[[#{cliente.contra}]]</label> <br/>
                                <input type="text" class="form-control" id="contraseña" name="contraseña" th:field="*{contraseña}"
                                       placeholder="Contraseña"></br>
                                </<div>


                                    <div class="d-grid gap-2 col-6 mx-auto">
                                        <input class="btn btn-primary" type="submit" name="guardar" value="Guardar"/>

                                    </div>




                                    </form>

                                </div>
                            </div>
                    </div>
                </div>
                
                <footer  th:replace="layout/plantilla 
                         :: footer"/> 
                </body>
                </html>



