<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Food Paradise</title>
        <meta charset="UTF-8">
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>

        <a th:href="@{/cliente/listado}" class="link-warning">Regresar</a>
        <div class="contenido, text-center">
            </br>
            <div class="container">
                <div class="row">
                    <div class="col-3">

                    </div>
                    <div class="col-6"> 
                        <h2>DATOS DEL CLIENTE</h2>

                        <br />
                        <br />

                        <form th:action="@{/cliente/guardar}"
                              method="POST"
                              th:object="${cliente}" >

                            <input type="hidden"name="idCliente" th:field="*{idCliente}" />

                            <div class="form-group">
                                <label for="nombre">Nombre del Cliente</label> <br/>
                                <input type="text"class="form-control" id="nombre" name="nombre" th:field="*{nombre}"
                                       placeholder="Ingrese el nombre del cliente">
                            </div>

                            <div class="form-group">
                                <label for="apellidos">Apellidos:</label> <br/>
                                <input type="text" class="form-control" id="apellidos" name="apellidos" th:field="*{apellidos}"
                                       placeholder="Apellidos">
                            </div>

                            <div class="form-group">
                                <label for="telefono">Teléfono:</label><br/>
                                <input type="text" class="form-control" id="correo" name="apellidos" th:field="*{telefono}"
                                       placeholder="Teléfono">
                            </div>

                            <div class="form-group">
                                <label for="correo">Correo:</label><br/>
                                <input type="email" class="form-control" id="correo" name="correo" th:field="*{correo}"
                                       placeholder="Correo">
                            </div>

                            <div class="form-group">
                                <label for="contraseña">Contraseña</label> <br/>
                                <input type="text" class="form-control" id="contraseña" name="contraseña" th:field="*{contraseña}"
                                       placeholder="Contraseña"></br>
                                </<div>


                                    <div class="d-grid gap-2 col-6 mx-auto">
                                        <input class="btn btn-primary" type="submit" name="guardar" value="Guardar"/>

                                    </div>


                                    

                                    </form>

                                </div>
                                <footer  th:replace="layout/plantilla 
                                         :: footer"/> 
                                </body>
                                </html>



