<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Food Paradise</title>
    </head>
    <body class="img js-fullheight" style="background-image: url(https://img.freepik.com/foto-gratis/hamburguesa-explosiva-verduras-queso-derretido-sobre-fondo-negro-ia-generativa_157027-1734.jpg?w=1060&t=st=1682389875~exp=1682390475~hmac=a452746638c3a68eb4ac3766468b2d35b4f598e4a1c751c1b01e8eecb7f7445e) ;  height: 100%;">
        <header th:replace="layout/plantilla :: header"/>

        </br>
        </br>
        </br>
        </br>

        <div class="container, text-center mx-auto " >  

            <div class="row " >
                <div class="col-3">  
                </div>
                <div class="col-6 align-items-center " >  

                    <div class="row row-cols-2 rounded-0 mx-auto g-2" th:if="${inventarios != null and !inventarios.empty}">

                        <div  class="card bg-secondary text-white " th:each="inventario : ${inventarios}" >

                            <div class="card-body  ">
                                <h4 class="card-title fw-bolder text-info">[[${inventario.nombre}]]</h4>
                                <h6 class="card-subtitle fw-normal text-dark">[[${inventario.descripcion}]]</h5>
                                    <h7 class="card-subtitle mb-2 text-muted text-end">¢[[${#numbers.formatDecimal(inventario.precio, 1, 'DEFAULT', 2, 'DEFAULT')}]]
                                    </h7>
                                    <figure>

                                        <figCaption>

                                            <a class="btn btn-dark bi bi-cart-plus"  role="button" >Agregar</a>

                                        </figcaption>

                                    </figure>


                            </div>
                        </div>                
                    </div>



                </div>
                <div class="col-3">

                </div>

                <div th:if="${inventarios == null or inventarios.empty}"  th:text=>
                    No tenemos lista de inventarios que mostrar...
                </div>

                <footer th:replace="layout/plantilla :: footer"/>
            </div>
        </div>
    </body>
</html>

