<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org"> 

    <head th:replace="~{layout/plantilla :: head}">
        <title>Soda Food Paradise</title>

        <meta charset="UTF-8"/>
       
    </head>
    <body class="img js-fullheight" style="background-image: url(https://img.freepik.com/foto-gratis/hamburguesa-explosiva-verduras-queso-derretido-sobre-fondo-negro-ia-generativa_157027-1734.jpg?w=1060&t=st=1682389875~exp=1682390475~hmac=a452746638c3a68eb4ac3766468b2d35b4f598e4a1c751c1b01e8eecb7f7445e) ; height: 100%;">   
        <section>
            <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
                <div class="row gx-lg-5 align-items-center mb-5">
                    <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                        <h1  class="my-5 display-5 fw-bold  text-dark" style="color:white">
                            <a href="login.html"></a>
                            FOOD <br />
                            <span  class="text-info">PARADISE</span>
                        </h1>
                        <p class="mb-4 opacity-70 text-info" style="color: hsl(218, 81%, 85%)">
                            Somos un restaurante unico,con muchas variedades en nuestro menu,ordena y sientete como en casa!
                        </p>
                    </div>

                    <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

                        <div class=" pb-4 text-white bg-dark card bg-glass">
                            <div class="  card-body px-4 py-5 px-md-5">

                                <form method="POST" th:action="@{/login}">




                                    <div class="form-outline mb-4">
                                        <input type="text" name="username" id="username" class="form-control" />
                                        <label class="form-label" for="form3Example3">[[#{plantilla.user}]]</label>
                                    </div>


                                    <div class="form-outline mb-4">
                                        <input type="password" name="password" id="password" class="form-control" />
                                        <label class="form-label" for="form3Example4">[[#{cliente.contra}]]</label>
                                    </div>


                                    <div class="form-check d-flex justify-content-center mb-4">
                                        <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                                        <label class="form-check-label" for="form2Example33">
                                            Acepto terminos y condiciones
                                        </label>
                                    </div>


                                    <button type="submit" class="btn btn-primary btn-block mb-4">
                                        Ingresar
                                    </button>
                                </form>

                                <div class="text-center">
                                    <p>or sign up with:</p>
                                    <button type="button" class="btn btn-link btn-floating mx-1">
                                        <i class="fab fa-facebook-f"></i>
                                    </button>

                                    <button type="button" class="btn btn-link btn-floating mx-1">
                                        <i class="fab fa-google"></i>
                                    </button>

                                    <button type="button" class="btn btn-link btn-floating mx-1">
                                        <i class="fab fa-twitter"></i>
                                    </button>

                                    <button type="button" class="btn btn-link btn-floating mx-1">
                                        <i class="fab fa-github"></i>
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
