<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        <header th:replace="layout/plantilla :: header"/>
        <div class="contenido">

            <h2>Lista de Clientes</h2>

            <a th:href="@{/inventario/nuevo}">Nuevo Item</a>
            <div th:if="${inventarios != null and !inventarios.empty}">

                <table border="1">

                    <thead>

                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Precio</th>
                    <th>Activo</th>           
                    <th colspan="2">Acciones</th>

                    </thead>
                    <tbody>
                        <tr th:each="item : ${inventarios}">

                            <td th:text="${item.nombre}"></td>
                            <td th:text="${item.descripcion}"></td>
                            <td th:text="${#numbers.formatDecimal(item.precio,3,2)}"></td>
                            


                            <td><a th:href="@{/inventario/modificar/}+${item.idInventario}">Modificar</a></td>
                            <td><a th:href="@{/inventario/eliminar/}+${item.idInventario}">Eliminar</a></td>

                        </tr>


                    </tbody>


                </table>

                <div th:if="${inventarios== null or inventarios.empty}">

                    La lista esta vacia...

                </div>



                <footer  th:replace="layout/plantilla 
                         :: footer"/> 
                </body>
</html>

